<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.7.2" />

		<httpRuntime targetFramework="4.7.2" />
		<globalization uiCulture="en" culture="en-NZ" />
		<machineKey validationKey="5C7EEF6650639D2CB8FAA0DA36AF24452DCF69065F2EDC2C8F2F44C0220BE2E5889CA01A207FC5FCE62D1A5A4F6D2410722261E6A33E77E0628B17AA928039BF" decryptionKey="DC47E74EA278F789D2FF0E412AD840A89C10171F408D8AC4" validation="SHA1" />
	</system.web>
	<connectionStrings>

		<!--<add name="ConnectionString" connectionString="Data Source=SECRETSOFWEB\SQLEXPRESS;Persist Security Info=True;Initial Catalog=bsquarebest2023;Integrated Security=True;Max Pool Size=50000000;Pooling=True" providerName="System.Data.SqlClient" />-->
		<add name="ConnectionString" connectionString="Data Source=103.13.114.199;Initial Catalog=bsquarebest2023;Persist Security Info=True;User ID=bsquarebest2023;Password=9782960150@mM;User Instance=False;Max Pool Size=50000000;Pooling=True;Connection Timeout=3600" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
</configuration>